<form [formGroup]="form" (ngSubmit)="itemAdded()">
  <div class="form-control w-full max-w-xs">
    <label for="description" class="label">
      <span class="label-text">Description</span>
    </label>
    <input
      type="text"
      formControlName="description"
      placeholder="Your item"
      id="description"
      class="input input-bordered w-full max-w-xs"
    />
    <div class="alert alert-error" *ngIf="hasError()" data-testid="error-alert">
      <p>A description is required and needs to be 100 characters or less.</p>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Add To list</button>
</form>
